# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# Virtual environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
Pipfile.lock
poetry.lock

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter / IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Django / Flask
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx docs
docs/_build/

# IDEs / editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc caches and metadata
.ropeproject
.mypy_cache/
.dmypy.json
.dmypy/
.pyre/
.pybuilder/
site/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db

*firebase-debug.log*
.claude